name: Linting

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*
  workflow_call:
  workflow_dispatch: {}
defaults:
  run:
    working-directory: .
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python_version:
        - "3.9"
        - "3.10"
        - "3.11"
        pip_deps:
        - "[dev,testing]"
    steps:
    - uses: actions/checkout@v3
    - name: Get composite run steps repository
      uses: actions/checkout@v3
      with:
        repository: mosaicml/ci-testing
        ref: v0.1.2
        path: ./ci-testing
    - uses: ./ci-testing/.github/actions/code-quality
      with:
        python_version: ${{ matrix.python_version }}
        pip_deps: ${{ matrix.pip_deps }}
